# command        k             (command is executed when k is pressed)
# command        <C-k>         (command is executed when k is pressed while holding control)
# command        K             (command is executed when K is entered, which is shift+k)
# command        <A-k>         (command is executed when k is pressed while holding alt)
# command        +             (command is executed when = is pressed while holding shift)
# command        <C-S-k>       (command is executed when k is pressed while holding control and shift)
# command        gg            (command is executed when g is pressed twice)
# command        gt            (command is executed when g is pressed and then t is pressed)
# command        g<C-n>Dt      (command is executed when g is pressed and then n is pressed while holding\
#                               control and then d is pressed while holding shift and then t is pressed)
# 
#                               you can execute multiple commands using the following syntax:
# command1;command2;command3        <keybinding>


toggle_custom_color			i
toggle_statusbar			<C-n>
toggle_fullscreen			<C-f>

